<h1 class="contacts_heading">Now in the Contacts Index</h1>
<ul class="contacts_list">
	{{#each contact in model}}
		<li>{{#link-to 'contacts.show' contact}}{{contact.first_name}}{{/link-to}}</li>
	{{/each}}
</ul>
